/* UNIVERSAL STYLES */

body {
    margin: 0;
}

h1,
h2,
legend {
    font-family: 'Noto Serif', serif;
}

label,
input,
.input,
p {
    font-family: 'Raleway', sans-serif;
}

p {
    text-align: center;
    font-size: 0.8em;
}

p,
.input {
    color: dimgray;
}

/* HEADER STYLES */

header {
    background: lightcoral;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 4%;
    font-size: 1.75em;
}

/* SIGNUP INFO SECTION */

.signup-info {
    border-bottom: 2px double coral;
    margin: 5% 5% 0 5%;
}

h2 {
    color: lightcoral;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.25em;
}

.signup-info p {
    margin-top: 0;
    padding: 0 5% 5% 5%;
}

/* FORM STYLES */

form {
    margin: 0 5%;
    padding-bottom: 10%;
}

fieldset {
    border: none;
    padding: 0 0 10px 0;
    margin: 10px 0;
}

legend {
    color: lightcoral;
    font-weight: bold;
    font-size: 1.2em;
}

.contact-info legend {
    padding-bottom: 10px;
}

.newsletter legend {
    padding-bottom: 0;
}

.input {
    margin: 10px 0;
}

input,
textarea,
select {
    background: whitesmoke;
    border: none;
    border-radius: 5px;
}

.contact-info input,
select {
    height: 2em;
}

input::placeholder {
    text-align: right;
}

.contact-info input,
.contact-info select {
    width: 100%;
}

#zip-code {
    width: 30%;
}

.contact-info input:focus,
textarea:focus,
select:focus {
    outline: 1px solid lightcoral;
}

textarea {
    width: 100%;
}

.contact-info label {
    display: block;
    margin: 5px 0;
}

.newsletter label {
    display: inline-block;
    margin: 5px 0;
}

button {
    width: 100%;
    height: 50px;
    background: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.contact-info {
    border-bottom: 2px double coral;
}

/* Media Queries */

@media (min-width: 768px) {
    h1 {
        padding: 3%;
    }
    legend {
        padding: 15px 0;
    }
    .signup-info {
        padding: 3% 0;
        margin: 0 10%;
    }
    .signup-info p {
        padding: 0;
    }
    .contact-info label,
    .contact-info input,
    .contact-info div,
    select {
        display: flex;
        justify-content: space-between;
    }
    .contact-info label {
        flex: 1;
    }
    .contact-info input,
    select {
        flex: 3;
    }
    #zip-code {
        flex: 0.30;
    }
    form {
        margin: 0 10%;
    }

}