

body {
    margin: 0;
}

p,
.input {
    color: dimgray;
}

/* HEADER STYLES */

header {
    background: lightcoral;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 4%;
    font-size: 1.75em;
}

/* SIGNUP INFO SECTION */

.signup-info {
    border-bottom: 2px double coral;
    margin: 5% 5% 0 5%;
}

h2 {
    color: lightcoral;
}

h2,
p {
    text-align: center;
}

/* FORM STYLES */

form {
    margin: 5%;
    padding-bottom: 10%;
}

fieldset {
    border: none;
    padding: 0 0 10px 0;
    margin: 10px 0;
}

legend {
    color: lightcoral;
    font-weight: bold;
    font-size: 1.2em;
}

.input {
    margin: 10px 0;
}

input {
    background: whitesmoke;
    border: none;
    border-radius: 5px;
}

.contact-info input {
    width: 100%;
}

textarea {
    width: 100%;
    border: none;
    background: whitesmoke;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    width: 100%;
    height: 50px;
    background: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.contact-info {
    border-bottom: 2px double coral;
}

/* Media Queries */

@media (min-width: 768px) {
    h1 {
        padding: 3%;
    }
    legend {
        padding: 3% 0;
    }
    .signup-info {
        padding: 3% 0;
        margin: 0 10%;
    }
    .contact-info label,
    .contact-info input,
    .contact-info div {
        display: flex;
        justify-content: space-between;
    }
    .contact-info label {
        flex: 1;
    }
    .contact-info input {
        flex: 3;
    }
    form {
        margin: 0 10%;
    }

}